body{
    background-color: rgb(61, 61, 61);
    font-family: monospace;

}

.header_div{
    background-color: rgb(185, 217, 246);
    color: black;

}

.header_div p{
    color: crimson;
    font-weight:bold;
    font-size: 16px;
    letter-spacing:1px;
    font-family: sans-serif;
}

.main_div button{
    margin-top:30px;
    width:130px;
    letter-spacing:2px;
    font-size:16px;
    font-weight: bold;
}

.copy_right_footer{
    background-color: rgb(222, 77, 77);
    bottom: 0;
    position:fixed;
    width:100%;
    color:white;
    text-align: center;
    font-size:18px;
    line-height: 3;
    text-shadow:5px  5px  5px black;
}

#result_label{
    color:white;
}

#result_confidence{
    color: white;
}